@media  screen and (min-width: 800px) {
 

body {
    background-color: #48cae4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Container {
    width: auto;
    margin: auto;
}

.pizza-cut{
    border: 1px solid #fff3b0;
    padding: 1em;
    margin: 1em;
    background-color: #48cae4;

}
.box {
border: 1px solid #fff3b0;
padding: 1em;
margin: 1em;
background-color: #00b4d8;
}
.pizza-cart{
    display:inline-flexbox;
}

    .pizza-cart {
        margin: 1em;
    padding: 2em;
    margin-bottom: 1em;
    margin-top:1em;
    margin-left: 5em;
    margin-right: 5em;
    background-color:#0077b6;
    }


.middle {
    display: flex;
}

.middle > div {
margin: auto;
padding: 4em;
margin-bottom: 4em ;
background-color:#023e8a;
width: auto;
}

.message{
    margin: 1em;
    padding: 2em;
    margin-bottom: 1em;
    margin-top:1em;
    margin-left: 5em;
    margin-right: 5em;
    background-color:#023e8a;  
}


.pizza_styles > div {
    flex: 1;
}


@media screen and (min-width: 800px) {
    .middle {
        display: flex;
        
        }

        .pizza_styles {
            display: flex;
            background-color: #ade8f4;
            padding: 1em;
            
        }

        .orderBtn{
            background-color: darkcyan;
        }






}

}