@media  screen and (min-width: 760px) {
 

body {
    background-color: #335c67;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Container {
    width: auto;
    margin: auto;
}

.box {
border: 1px solid #fff3b0;
padding: 1em;
margin: 1em;
background-color: #e09f3e;
}

.middle {
    display: flex;
}

.middle > div {
margin: auto;
padding: 4em;
background-color:#9e2a2b;
}



.pizza_styles > div {
    flex: 1;
}

@media screen and (min-width: 800px) {
    .middle {
        display: flex;
        }

        .pizza_styles {
            display: flex;
            background-color: #540b0e;
            padding: 1em;
            
        }
}
}